<link rel="apple-touch-icon" sizes="180x180" href="/software-design/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/software-design/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/software-design/assets/favicon-16x16.png">
<link rel="manifest" href="/software-design/assets/site.webmanifest">
<link rel="mask-icon" href="/software-design/assets/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="theme-color" content="#ffffff">